<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Family Rails</title>
    <link src="./css/style.css">
    <style>
      body {background-color: darkgray;}
    </style>
  </head>
  <body >
    <div class="container">
      <header>
        <div class="logo">Family Rails</div>
      </header>
      <main>
        <div class="btn_1">
          <a href="#"><p>おかあさんの日記</p></a>
        </div>
        <div class="btn_2">
          <a href="#"><p>未定</p></a>
        </div>
        <div class="btn_3">
          <a href="#"><p>未定</p></a>
        </div>
        <div class="btn_4">
          <a href="#"><p>未定</p></a>
        </div>
      </main>
    </div>

  </body>
</html>